www.getlobster.org {
  redir https://getlobster.org{uri} 308
}

getlobster.org {
  encode zstd gzip
  handle_path /api/deploy {
    reverse_proxy deploy-hook:9000
  }
  handle_path /api/gateway* {
    reverse_proxy gateway:3005
  }
  handle_path /paperclip* {
    reverse_proxy paperclip:3100
  }
  reverse_proxy app:8080 {
    transport http {
      versions 1.1
    }
  }
}
