www.getlobster.org {
  redir https://getlobster.org{uri} 308
}

getlobster.org {
  encode zstd gzip
  handle_path /api/deploy {
    reverse_proxy deploy-hook:9000
  }
  reverse_proxy app:8080 {
    transport http {
      versions 1.1
    }
  }
}
